.header_layout{
  box-sizing: border-box;
}
.header_layout{
  display:flex;
  width: 100%;
  height: 720px;
  background:#00154E;
  /* border:1px solid red; */
  margin:auto;
}
.logo_layout {
  font-weight: 500;
  color: #ffffff;
}
.header_layout_left{
  width: 40%;
  /* border:1px solid red; */
}
.header_layout_right{
  width: 60%;
  /* border:1px solid red; */
}
.header_title .title_h3{
  font-size:50px;
  color: #ffffff;
}
.header_title1 .title_h31{
  font-size:70px;
  color:#c1dbeb;
}
.header__title__address .title_h4{
  font-size:40px;
  color:#c1dbeb;
  padding: 10px;
}
.header__title__address{
  background:linear-gradient(90deg,hsla(0,0%,100%,.2) 50%,hsla(0,0%,76.9%,0) 84.58%);
}
.header_layout_right{
  
  text-align:center;
}
.header_layout_right .header__title__image{
    overflow: hidden;
}
.header_layout_right .header__title__image .image{
  /* border:1px solid red; */
  height: 90%;
  width: 100%;
  text-align:center;
}
.header_layout_left{
}
.header_layout_left .logo_layout{
  margin:15% 20% 20% 20%;
}
.header_layout_left .header_title {
  margin-left:20%;
}
.header_layout_left .header_title1 {
  margin-left: 20%;
  margin-top:-15%;
}

.header_layout_left .header__title__address .title_h4{
  margin-left: 20%;
  margin-top: -10%;
}
.body_layout .body-layout_title{
  margin: 100px 0 100px 0;
}
.body_layout .body-layout_title .title_line{
    width: 88px;
    height: 22px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f15841;
}
.body_layout .body-layout_title .title_h1{
  margin-left: 8%;
  margin-top:-3.5%;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  color: #00154e;
}
.body_layout .container_body{
  display:flex;
  justify-content:center;
  text-align: center;
}
.body_layout .container_body .list_body{
  width:23%;
  /* border:1px solid red; */
}
.body_layout .container_body .list_body .image_body{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
